#img {
    height: 100px;
}

.heading {
    background: burlywood;
    color: royalblue;
}



.test_images {
    background: lightslategray;
    color: wheat;
}

.Timage {
height: 300px;
}